     {% load static %}
     {% if page  %}
   <div class="hero-wrap">
	    <div class="home-slider owl-carousel">

            {%for rs in sliderdata  %}
	      <div class="slider-item" style="background-image:url({{ rs.image.url }});">
	      	<div class="overlay"></div>
	        <div class="container">
	          <div class="row no-gutters slider-text align-items-center justify-content-center">
		          <div class="col-md-12 ftco-animate">
		          	<div class="text w-100 text-center">
		          		<h2>{{ rs.category }} </h2>
			            <h1 class="mb-3">{{ rs.title }}</h1>
		            </div>
		          </div>
		        </div>
	        </div>
	      </div>
            {% endfor %}




	    </div>
	  </div>

     {% endif %}