<div class="categories">

                <li><a href="/user">User Profile <span class="ion-ios-arrow-forward"></span></a></li>
                <li><a href="#">My News <span class="ion-ios-arrow-forward"></span></a></li>
                <li><a href="#">My Comments <span class="ion-ios-arrow-forward"></span></a></li>
                <li><a href="#">My Favorites <span class="ion-ios-arrow-forward"></span></a></li>
                <li><a href="/logout">Logout<span class="ion-ios-arrow-forward"></span></a></li>

              </div>